* {
	margin: 0;
	text-align: center;
}
html{
	width: 100vw;
}
h1{
	background-color: black;
	margin: 0px;
}
h2{
	color: goldenrod;
	position: relative;
	background-color: rgba(245, 245, 220,0.8);
	top: 20vh;
	width: 60vw;
	margin: 0 auto .5vw;
	border-radius: 20px;
	height: 6vh;
	line-height: 6vh;
}
.div_base {
	margin-top: 20vh;
	margin-bottom: 5vh;
	width: 60vw;
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	text-align: center;
}
.main_img{
	height: 90vh;
	background-image:url(../img/ë¡¤.jpeg) ;
	background-size:cover;
	background-repeat: no-repeat;
}
.foot_div{
	margin: 0;
	font-size: large;
	font-weight: 900;
	width: 100vw;
	bottom: 0px;
	color: white;
	background-color: black;
	display: inline-block;
}
.table_cs{
	width: 100%;
	text-align: center;
}
.th_tr_cs{
	background-color: gold;
	font-weight: 900;
	font-size:1vw ;
}
tr{
	width: 100%;
	height: 60px;
}
td{
	font-size:1vw ;	
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-size: 2vw;
}
.page_button, .page_button_del{
	font-size: 1.5vw;
	background-color: rgba(255, 215, 0, .6);
	padding:5px 20px ;
	border-radius: 10px;
}
button{
	padding: 0px;
	border: .1px;
	border: none;
	background-color: rgba(255, 215, 0, .6);
	border-radius: 10px;
}
.write_cs{
	background-color: rgba(255, 215, 0, .6);
	border-radius: 10px;
	display: inline-block;
}